.content {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.title {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    width: fit-content;
    color: #395bff;
}

.body {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.my-label2 {
    width: 80%;
    height: fit-content;
    max-width: 300px;
    margin: 2px auto !important;
    background: transparent;
    border: 1px solid black !important;
    border-radius: 10px;
}

.my-label2 h3 {
    margin: 5px;
}

.activate, .settings {
    float: left;
    margin-left: 25px !important;
}

.chart {
    float: right;
    margin-right: 25px !important;
}

.myButton {
    width: 130px;
    height: 50px;
    margin: 2px !important;
    background: transparent;
    border: 1px solid black !important;
    border-radius: 5px;
}

.noUnderline {
    text-decoration: none;
}

.title p {
    text-align: center;
    margin-top: 0;
}

.title h1 {
    margin-bottom: 0;
}

.toggle {
    width: fit-content;
    margin: 0 auto 2px;
}
