.content {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.title {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    width: fit-content;
    color: #395bff;
}

.body {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: fit-content;
}

.footer {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    text-align: center;
    width: fit-content;
}

input {
    padding: 5px;
    border: 1px solid black;
}

input:focus {
    outline: none;
}

.myButton {
    width: 190px;
    height: 50px;
    margin: 2px !important;
    background: transparent;
    border: 1px solid black !important;
    border-radius: 5px;
}

.noUnderline {
    text-decoration: none;
}
