.content {
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
}

.title {
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0);
    width: fit-content;
    color: #395bff;
}

.body {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

.my-label {
    width: 80%;
    height: fit-content;
    max-width: 300px;
    margin: 2px auto !important;
    background: transparent;
    border: 1px solid black !important;
    border-radius: 10px;
}

.my-label h3 {
    margin: 8px 10px 2px;
}

.my-label p {
    margin: 3px 10px 8px;
}

.activate, .settings {
    float: left;
    margin-left: 25px !important;
}

.chart {
    float: right;
    margin-right: 25px !important;
}
